@{
    ViewBag.Title = "Home Page";
}


<div>
    <div >
        <img src="~/Content/Images/bike1.PNG"/>
        <img src="~/Content/Images/bike2.PNG" />
    </div>
   
    <div>
        <img src="~/Content/Images/bike3.PNG" />
        <img src="~/Content/Images/bike4.PNG" />
    </div>
    
</div>