
@{
    ViewBag.Title = "Testimonials";
}

<h2>Testimonials</h2>
<p>

    Your customer service is exactly what every other bike store is missing. I did not think personal friendly service existed anymore. Furthermore, your mechanics are men amongst sniveling little girls. I do not know if they use voodoo, get a Papal blessing or some other unknown power but even after simple tune up(on 3/08/2010) my bike rode so incredibly well I was speechless. I know I am could not be that strong of a rider and can only blame my speed and endurance on an precisely tuned bike. Also, the time the shop has taken to help me with warranty issues and service makes hyper loyal to Mike's and reluctant to let this secret out as I feel like I have found one of biking greatest secrets. Just thought you should know
    <br />
    <br />
    <strong>Jay</strong>

    <br />
    <br />
    Yesterday we rode the Marin Century bike ride. At the intersection prior to the rest stop near a country school house I had a flat tire. The police officer said not to worry, there is a Mike's bike tent at the rest stop. VERY relieved, I walked to the rest stop. The young man worked at the Sausalito store and was very kind to fix the tire for free. It was fun talking with him as he helped me understand the mechanisms of my bike better. He also knew Merrily in the Palo Alto store who is our local bike expert. Thank you so much.
    <br />
    <br />
    <strong>Anne</strong>
</p>

